body{
    margin: 0px;
    background-color: #141414;
    font-family:  'Lato', sans-serif;
}
.heading-part{
    background-image: url(Images/Earthquake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    text-align: center;
}
.heading-part h1{
    color: white;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 25px;
}
.heading-part p{
    color: white;
    text-align: center;
    margin-bottom: 55px;
}
.button{
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(45deg,#005daf,#007aaf);
    padding: 12px;
    border-radius: 10px;
}
.donate-today{
    color: white;
    text-align: center;
}
.donate-today h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.flexible-display{
    display: flex;
    margin-bottom: 35px;
}
.one-fifth-width {
    width: 20%;
}
#margin-left{
    margin-left: 300px;
}
#margin-right{
margin-right: 300px;
}
#border{
    background-color:#005daf40 ;
    border: 2px solid #005daf;
}
input{
    width: 15%;
    border:3px solid #005daf;
    border-radius: 5px;
    background-color: #005daf2a;
}
#custom-amount{
    margin-top: 0;
    margin-bottom: 50px;
}
.donate-plan{
    text-align: center;
    color: white;
}
.donate-plan h2{
    margin-top: 150px;
}
.donate-plan p{
    margin-left: 200px;
    margin-right: 200px;
}
.donate-plan-flex{
    display: flex;
    color: white;
}
.one-third-width{
    width: 30%;
    padding-left: 8%;
    padding-right: 8%;
}
#food-service{
    background-image: url(Images/foodpng.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
    background-size: 20%;
    background-color: #005cad28;
    margin: 25px;
    padding: 100px 15px 15px 35px;
    border: 2px solid #005daf;
    border-radius: 45px 10px;
}
#medical{
    background-image: url(Images/medical.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
    background-size: 20%;
    background-color: #a06c1828;
    margin: 25px;
    padding: 100px 15px 15px 35px;
    border: 2px solid #a06c18;
    border-radius:45px 10px;
}
#shelter{
    background-image: url(Images/shelter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
    background-size: 20%;
    background-color: #1b808328;
    margin: 25px;
    padding: 100px 15px 15px 35px;
    border: 2px solid #1b8083;
    border-radius:45px 10px;
}