body{
    margin: 0px;
    background-color: #141414;
    font-family:  'Lato', sans-serif;
}
.heading-part{
    background-image: url(Images/Earthquake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    text-align: center;
}
.heading-part h1{
    color: white;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 25px;
}
.heading-part p{
    color: white;
    text-align: center;
    margin-bottom: 55px;
}
.button{
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(45deg,#005daf,#007aaf);
    padding: 12px;
    border-radius: 10px;
}
.donate-today{
    color: white;
    text-align: center;
}
.donate-today h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.flexible-display{
    display: flex;
    margin-bottom: 35px;
}
.one-fifth-width{
    width: 20%;
}
#margin-left{
    margin-left: 300px;
}
#margin-right{
margin-right: 300px;
}
#border{
    background-color:#005daf40 ;
    border: 2px solid #005daf;
}
input{
    width: 15%;
    border:3px solid #005daf;
    border-radius: 5px;
    background-color: #001a4a2a;
    color: white;
}
#custom-amount{
    margin-top: 0;
    margin-bottom: 50px;
}
.donate-plan{
    text-align: center;
    color: white;
}
.donate-plan h2{
    margin-top: 150px;
    font-size: 35px;
}
.donate-plan p{
    margin-left: 200px;
    margin-right: 200px;
}
.donate-plan-flex{
    display: flex;
    color: white;
}
.one-third-width{
    width: 30%;
    padding-left: 8%;
    padding-right: 8%;
}
#food-service{
    background-image: url(Images/foodpng.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
    background-size: 20%;
    background-color: #005cad28;
    margin: 25px;
    padding: 100px 15px 15px 35px;
    border: 2px solid #005daf;
    border-radius: 45px 10px;
}
#medical{
    background-image: url(Images/medical.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
    background-size: 20%;
    background-color: #a06c1828;
    margin: 25px;
    padding: 100px 15px 15px 35px;
    border: 2px solid #a06c18;
    border-radius:45px 10px;
}
#shelter{
    background-image: url(Images/shelter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
    background-size: 20%;
    background-color: #1b808328;
    margin: 25px;
    padding: 100px 15px 15px 35px;
    border: 2px solid #1b8083;
    border-radius:45px 10px;
}
#missions{
    margin-top: 100px;
}
.half-width{
    width: 50;
}
#featured{
    color: white;
    width: 95%;
    background-image: url(Images/flood.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-y: 5%;
    background-position-x: 45%;
    margin: 25px;
    background-color: #005daf21;
    border: 2px solid #005daffa;
    border-radius: 45px 10px;
    padding: 430px 25px 10px 25px;
}
#featured p{
    width: 100%;
    text-align: justify;
}
#flex-h2{
    display: flex;
    margin-bottom: 0;
}
#featured-h2{
    color: white;
    margin-left: 200px;
    font-size: 35px;
}
#campaign-h2{
    color: white;
    margin-left: 300px;
    font-size: 35px;
}
#current-operations{
    display: flex;
}
.side-tiles{
    color: white;
    background-color: #005daf21;
    border: 2px solid #005daf;
    display: flex;
    width: 70%;
    margin: 25px 25px 25px 5px;
    padding: 5px 5px 5px 140px;
    background-image: url(Images/houses&flood.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 1.5% 50%;
    border-radius: 25px 5px;
    
}
.side-tiles p{
    width: 90%;
}
.read-more{
    color: white;
}
#get-my-updates{
    color: white;
    text-align: center;
}
#get-my-updates h2{
font-size: 35px;
}
#email-input{
    margin-top: 50px;
    background-color: #0a183053;
    width: 50%;
    padding: 50px 0px;
    margin-left: 350px;
}
#email-input input{
padding: 15px 80px;
border-radius: 10px;
}
#email-input button{
    padding: 15px 20px;
    color: white;
    background-color: #92621440;
    border: 2px solid #926214;
    border-radius: 8px;
}
footer{
    background-color: #000000;
    padding: 15px;
    margin-top: 20px;
}
footer h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0%;
}